[submodule "caderneta-front"]
	path = caderneta-front
	url = https://github.com/sironAzevedo/caderneta-front.git
[submodule "caderneta-contas-services"]
	path = caderneta-contas-services
	url = https://github.com/sironAzevedo/caderneta-contas-services.git
[submodule "caderneta-dashboard-services"]
	path = caderneta-dashboard-services
	url = https://github.com/sironAzevedo/caderneta-dashboard-services.git
