[submodule "caderneta-front"]
	path = caderneta-front
	url = https://github.com/sironAzevedo/caderneta-front.git
[submodule "caderneta-contas-services"]
	path = caderneta-contas-services
	url = https://github.com/sironAzevedo/caderneta-contas-services.git
[submodule "caderneta-dashboard-services"]
	path = caderneta-dashboard-services
	url = https://github.com/sironAzevedo/caderneta-dashboard-services.git
[submodule "caderneta-eureka-server"]
	path = caderneta-eureka-server
	url = https://github.com/sironAzevedo/caderneta-eureka-server.git
[submodule "caderneta-gateway"]
	path = caderneta-gateway
	url = https://github.com/sironAzevedo/caderneta-gateway.git
